<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Use title if it's in the page YAML frontmatter -->
    <title>Mister Machine: Case Study</title>

    <%= stylesheet_link_tag "style" %>
    <%= javascript_include_tag "modernizr" %>

    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7282032/671482/css/fonts.css" />
  </head>

  <body class="<%= page_classes %>">

    <%= partial "shared/_header" %>

    <%= yield %>

    <%= partial "shared/_footer" %>

    <%= javascript_include_tag  "all" %>

  </body>
</html>