<article class="article"> 

  <header>
    <div class="row">
      <div class="large-12 columns">
        <div class="hgroup overflow">
          <h2 class="delta text-center condensed light caps rhythm-2">Solutions</h2>
          <h3 class="gamma text-center light rhythm-2">Research</h3>
        </div>
      </div>
    </div>
  </header>

  <div class="row rhythm-4">

    <div class="large-9 medium-10 small-11 small-centered columns">
      <p class="lead">After an initial review we saw they were using the same workflows to satisfy three distinctly different user groups: Administrators, Professors and Students. We decided early on to focus on the Student user to increase adoption of the system.</p>
    </div>

    <div class="large-12 columns">
      <figure>
        <% link_to '/images/research1a.jpg', :title => 'View full-size lesson views' do %>
          <%= image_tag 'images/research1.jpg', :alt => 'Lesson Views: Student and Phase 2' %>
        <% end %>
        <figcaption class="large-9 large-centered columns">
          <p>On the left we documented the original desktop web app. On the right we began a high level usability review based on our immediate reactions. 
           <% link_to '/images/research1a.jpg', :title => 'View full-size lesson views' do %>Larger image and notes<% end %></p>
        </figcaption>
      </figure>
    </div>

    <div class="clear"></div>

    <div class="large-9 medium-10 small-11 small-centered columns">
      <p>A survey of participants told us that an increasing number of students were using multiple devices to access the material so we needed to design in a modular and responsive way to ensure usability.</p>
    </div>

    <div class="large-12 columns">
      <figure>
        <% link_to '/images/research2a.jpg', :title => 'View full-size Source order and layout grids' do %>
          <%= image_tag 'images/research2.jpg', :alt => 'Source Order and Layout Grids' %>
        <% end %>
        <figcaption class="large-9 large-centered columns">
          <p>On the left we drafted the source order of the current app. To the right we mocked up several layout grids based on the competitive landscape and our own product metaphor.
          <% link_to '/images/research2a.jpg', :title => 'View full-size Source order and layout grids' do %>
          Larger image and notes<% end %></p>
        </figcaption>
      </figure>
    </div>

    <div class="large-9 large-centered columns rhythm-4"></div>

  </div>

  <header>
    <div class="row">
      <div class="large-12 columns">
        <div class="hgroup overflow">
          <h3 class="gamma text-center light rhythm-2">Responsive Components</h3>
        </div>
      </div>
    </div>
  </header>

  <div class="row rhythm-4">

    <div class="large-9 medium-10 small-11 small-centered columns">
      <p class="lead">The fully featured desktop experience entailed a very complex UI which did not translate well to small screens. As part of our mobile first approach, we began the process of grouping user interactions into silos of engagement. We drafted a number of user stories to determine what the starter interactions were which would set off a chain of more complex scenarios. </p>
    </div>

    <div class="large-12 columns">
      <figure>
        <% link_to '/images/responsive1a.jpg', :title => 'View full-size core functionality' do %>
          <%= image_tag 'images/responsive1.jpg', :alt => 'Mobile-first core functionality' %>
        <% end %>
        <figcaption class="large-9 large-centered columns">
          <p>We started with the smallest screens first to ensure core functionality was available based on our primary user story.  <% link_to '/images/responsive1a.jpg', :title => 'View full-size core functionality' do %>
         Larger image and notes
        <% end %></p>
        </figcaption>
      </figure>
    </div>

    <div class="clear"></div>

    <div class="large-9 medium-10 small-11 small-centered columns">
      <p>We focused on the bookmarking component as the core entry point for Student interaction. If the classroom experience was based on a timeline, then a user "flagging" or interrupting that line had the most potential for generating fidelity around the relevance of a particular moment in time. Bookmarking could then branch into more complex features such as notes, group discussions, and questions. </p>
    </div>

    <div class="large-12 columns">
      <figure>
        <% link_to '/images/responsive2a.jpg', :title => 'View full-size primary adding bookmarks action' do %>
          <%= image_tag 'images/responsive2.jpg', :alt => 'Primary user action: Adding Bookmarks' %>
        <% end %>
        <figcaption class="large-9 large-centered columns">
          <p>Adding bookmarks is the primary action across all mobile screens. <% link_to '/images/responsive2a.jpg', :title => 'View full-size primary adding bookmarks action' do %>
         Larger image and notes
        <% end %></p>
        </figcaption>
      </figure>
    </div>

    <div class="large-9 large-centered columns rhythm-4"></div>

  </div>

  <header>
    <div class="row">
      <div class="large-12 columns">
        <div class="hgroup overflow">
          <h3 class="gamma text-center light rhythm-2">Prototyping</h3>
        </div>
      </div>
    </div>
  </header>

  <div class="row rhythm-4">

    <div class="large-9 medium-10 small-11 small-centered columns">
      <p class="lead">We produced an HTML prototype for the web application from the Student perspective. The prototype focused on the mobile bookmarking process and navigating off-canvas discussions along a timeline. We wanted to test key user triggers and balance subtler micro interactions. </p>
      <p>When the project needs shifted to a Native client, we took a step back and produced a series of user stories and wireframes that would satisfy Native conventions for both tablet and small screens.  </p>
    </div>

    <div class="large-12 columns">
      <figure>
        <% link_to '/images/prototype2a.jpg', :title => 'View full-size live scenario user action' do %>
          <%= image_tag 'images/prototype2.jpg', :alt => 'Live scenario key user action' %>
        <% end %>
        <figcaption class="large-9 large-centered columns">
          <p>In the live scenario, our key user action became type input and those triggers had to scale across multiple viewports.  <% link_to '/images/prototype2a.jpg', :title => 'View full-size live scenario user action' do %>
          Larger image and notes
        <% end %></p>
        </figcaption>
      </figure>
    </div>

    <div class="clear"></div>

    <div class="large-9 medium-10 small-11 small-centered columns">
      <p>The Native client produced a Real-time variation of the core Asynchronous user story. Unlike Asynch, which has the convenience of starting and stopping the lecture, the Real-time scenario developed more messaging and collaborative features to engage users in real-time.</p>
    </div>

    <div class="large-12 columns">
      <figure>
        <% link_to '/images/prototype1a.jpg', :title => 'View full-size tablet navigation' do %>
          <%= image_tag 'images/prototype1.jpg', :alt => 'Tablet navigation elements' %>
        <% end %>
        <figcaption class="large-9 large-centered columns">
          <p>All of our navigation elements now had to conform to tablet ergonomics and touch points. <% link_to '/images/prototype1a.jpg', :title => 'View full-size tablet navigation' do %>
          Larger image and notes
        <% end %></p>
        </figcaption>
      </figure>
    </div>

    <div class="clear"></div>

    <div class="large-9 medium-10 small-11 small-centered columns">
      <p>When prototyping for Native we used the <a title="Middleman Site Generator" href="http://middlemanapp.com/">Middleman</a> static site generator with the <a title="Foundation responsive front-end framework" href="http://foundation.zurb.com">Foundation</a> responsive front-end framework to rapidly produce interaction patterns. We chose these tools because they allowed us to quickly test assumptions and deliver the most value.</p>
    </div>

    <div class="large-9 medium-10 small-11 small-centered columns">
      <%= partial "shared/_aside-config" %>
    </div>

    <div class="large-9 medium-10 small-11 small-centered columns">
      <%= partial "shared/_aside-js-name" %>
    </div>

    <div class="large-9 medium-10 small-11 small-centered columns">
      <div class="demo">
        <h3 class="zeta">Live Demo:</h3>
        <p><a title="Ngaged Interactive Prototype" href="http://ngaged-proto.mistermachineshop.com">Ngaged Interactive Prototype</a></p>
      </div>
    </div>  

    <div class="large-9 large-centered columns rhythm-4"></div>

  </div>

  <header>
    <div class="row">
      <div class="large-12 columns">
        <div class="hgroup overflow">
          <h3 class="gamma text-center light rhythm-2">Pattern Library</h3>
        </div>
      </div>
    </div>
  </header>

  <div class="row rhythm-4">

    <div class="large-9 medium-10 small-11 small-centered columns">
      <p class="lead">We output all of the “branded” UI elements to a single Pattern Library to ensure that developers had a repository from which they could assemble complex layouts. We used <a title="Sass CSS extension language" href="http://sass-lang.com/">Sass</a> with <a title="Compass open-source CSS Authoring Framework" href="http://compass-style.org/">Compass</a> to develop CSS partials and components in a object oriented manner that would allow developers to customize individual builds.</p>
    </div>

    <div class="large-12 columns">
      <figure>
        <% link_to '/images/code1.jpg', :title => 'View full-size pattern library' do %>
          <%= image_tag 'images/code1.jpg', :alt => 'Pattern Libary' %>
        <% end %>
        <figcaption class="large-9 large-centered columns">
          <p>All key elements are mapped and documented in a pattern library.</p>
        </figcaption>
      </figure>
    </div>

    <div class="clear"></div>

    <div class="large-9 medium-10 small-11 small-centered columns">
      <p>When developing the markup patterns, we built individual components that scaled up in complexity based on the context implied by the viewport. We developed grid and layout systems that took advantage of off-canvas events on mobile and grow into a multi-media experience on desktop.</p>
    </div>

    <div class="large-12 columns">
      <figure>
        <% link_to '/images/pattern2.jpg', :title => 'View full-size responsive timeline' do %>
          <%= image_tag 'images/pattern2.jpg', :alt => 'Timeline responsive to different viewports' %>
        <% end %>
        <figcaption class="large-9 large-centered columns">
          <p>The timeline was one key component that would change drastically based on viewport. It runs horizontally on desktop and defaults to a vertical orientation on smaller screens. </p>
        </figcaption>
      </figure>
    </div>

    <div class="clear"></div>

    <div class="large-9 medium-10 small-11 small-centered columns">
        <%= partial "shared/_aside-partials" %>
    </div>

    <div class="large-9 large-centered columns">
      <div class="demo">
        <h3 class="zeta">Demo Client Pattern Libraries:</h3>
          <ul>
            <li><a title="Responsive pattern library for N3twork web client" href="http://n3tpatterns.mistermachineshop.com">Responsive pattern library for N3twork web client</a>
            <li><a title="Responsive pattern library for Zeal Learning web client" href="http://zeal.mistermachineshop.com">Responsive pattern library for Zeal Learning web client</a>
          </ul>
      </div>
    </div>

    <div class="large-9 large-centered columns rhythm-4"></div>
  </div>

  <header>
    <div class="row">
      <div class="large-12 columns">
        <div class="hgroup overflow">
          <h3 class="gamma text-center light rhythm-2">Visual Mockups</h3>
        </div>
      </div>
    </div>
  </header>

  <div class="row rhythm-4">

    <div class="large-9 medium-10 small-11 small-centered columns">
      <p class="lead">In order to ensure the developers had a visual roadmap, we also created designs to go along with the pattern library and prototype. We were able to produce informed designs after creating the mechanical prototype.</p>
      <p>We were able to leverage output from our time "in-browser", and focus on defining a level of fidelity that Photoshop excels at. Depending on the context, we used the tool that immediately allowed us to produce the most valuable artifact for the product. </p>
    </div>

    <div class="large-12 columns">
      <figure>
        <% link_to '/images/pattern1.jpg', :title => 'View full-size responive UI elements' do %>
          <%= image_tag 'images/pattern1.jpg', :alt => 'Responsive UI Elements' %>
        <% end %>
        <figcaption class="large-9 large-centered columns">
          <p>Multi-Device: Users on different devices are served UI elements and feature sets based on their device. All of this runs off the same responsive HTML and CSS.</p>
        </figcaption>
      </figure>
    </div>

    <div class="large-12 columns">
      <figure>
        <% link_to '/images/responsive3.jpg', :title => 'View full-size visual mockups' do %>
          <%= image_tag 'images/responsive3.jpg', :alt => 'Visual Mockups' %>
        <% end %>
        <figcaption class="large-9 large-centered columns">
          <p>Mobile: Rather than rely on visual mockups in the beginning, we used them to detail nuances as well as dynamic states within the application.</p>
        </figcaption>
      </figure>
    </div>

     <div class="large-12 columns">
      <figure>
        <% link_to '/images/mockup1.jpg', :title => 'View full-size responive UI elements' do %>
          <%= image_tag 'images/mockup1.jpg', :alt => 'Responsive UI Elements' %>
        <% end %>
        <figcaption class="large-9 large-centered columns">
          <p>Desktop: Components remained flexible so they could be implmented in a number of scenarios. On the left the Notes/Discussion module is used in the margin and on the right the same module appears inline with the lecture. </p>
        </figcaption>
      </figure>
    </div>

    <div class="large-12 columns">
      <figure>
        <% link_to '/images/mockup2.jpg', :title => 'View full-size responive UI elements' do %>
          <%= image_tag 'images/mockup2.jpg', :alt => 'Responsive UI Elements' %>
        <% end %>
        <figcaption class="large-9 large-centered columns">
          <p>Desktop: Master files illustrated all components and their various states. </p>
        </figcaption>
      </figure>
    </div>

     <div class="large-12 columns">
      <figure>
        <% link_to '/images/mockup3.jpg', :title => 'View full-size responive UI elements' do %>
          <%= image_tag 'images/mockup3.jpg', :alt => 'Responsive UI Elements' %>
        <% end %>
        <figcaption class="large-9 large-centered columns">
          <p>Mobile: Master files illustrated all components and their various states. </p>
        </figcaption>
      </figure>
    </div>

    <div class="large-9 large-centered columns"></div>
  </div>

</article>
