<section class="deck primary-container">

  <%= partial "shared/_pitch-3x" %>
  <span class="cloud"><img src="images/bg-cloud.png" /></span>

</section>

<section id="background" class="deck">

  <%= partial "shared/_background" %>

</section>

<section id="project" class="deck secondary-container">

  <%= partial "shared/_project" %>
  <span class="cloud bottom-right"><img src="images/bg-cloud.png" /></span>

</section>

<section id="solutions" class="deck">

  <%= partial "shared/_solutions" %>

</section>

<section class="deck secondary-container">

  <%= partial "shared/_hero" %>

</section>

<section class="deck primary-container">

  <%= partial "shared/_hero" %>

</section>